@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* navbar start */
.arrow_down{
  transition: transform 0.5s ease-in-out;
}

.categories:hover .arrow_down {
  transform: rotate(-180deg)
}

.cart {
  position: relative;
}

.zero {
  position: absolute;
  top: -15px;
  right: -12px;
  padding: 0px 6px;
  background-color: rgb(68, 74, 255);
  color: white;
  border-radius: 100%;
}

.nav_anim {
  position: relative;
}

.nav_anim::after {
  content: '';
  position: absolute;
  bottom: -3px;
  background-image: linear-gradient(to bottom right, rgb(249, 34, 34), rgb(57, 37, 244));
  height: 3px;
  width: 100%;
  left: 0;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  transform: scaleX(0);
}

.nav_anim:hover::after {
  transform: scaleX(1);
}
/* navbar end */

/* Footer start  */
.contact {
  font-family: 'Roboto', sans-serif;
}

/* Footer end  */
